@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
  --default-font-size: 16px;
  --primary-color: #000d39;
  --background-color: #f7f7f7;
  --accent-color:#0089eb;
}




body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
}

main form {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  justify-content: center;
  align-items: center;
}

h1 {
  grid-column: 2/3;
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-size: var(--default-font-size);
}

h4 {
  font-size: var(--default-font-size);
  font-weight: 300;
}

.input-type-label-subject {
  font-size: var(--default-font-size);
  grid-row: 5/5;
  grid-column: 2/3;
}

.input-type-label-email {
  font-size: var(--default-font-size);
  grid-row: 2/2;
  grid-column: 2/3;
}

.input-type-label-location {
  font-size: var(--default-font-size);
  grid-row: 2/2;
  grid-column: 3/4;
}

.location {
  grid-row: 3/3;
  grid-column: 3/4;
  width: 75%;
  font-weight: 300;
  font-size: var(--default-font-size);
  color: #a0a0a0;
}

.input-type-label-emergency {
  font-size: var(--default-font-size);
  grid-row: 7/7;
  grid-column: 2/3;
}

.input-type-label-request-sort {
  font-size: var(--default-font-size);
  grid-row: 10/10;
  grid-column: 2/3;
}

.instructions {
  font-size: var(--default-font-size);
  grid-row: 10/10;
  grid-column: 2/4;
  margin-top: 16px;
  color: #ffffff;
  font-weight: 300;
  user-select: none;
  background-color: #f9395b;
  padding: 4%;
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

.input-type-label-desired-timeframe {
  font-size: var(--default-font-size);
  grid-row: 12/12;
  grid-column: 2/3;
}

.status {
  font-weight: 400;
  grid-column: 2/2;
  font-size: 18px;
  background-color: #eaf5fe;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  grid-row: 1/1;
  grid-column: 3/4;
  width: 75%;
}

.subject {
  grid-row: 6/6;
  grid-column: 2/3;
  width: 75%;
  font-weight: 300;
  font-size: var(--default-font-size);
  color: #a0a0a0;
}

.email {
  grid-row: 3/5;
  grid-column: 2/3;
  width: 75%;
  font-weight: 300;
  grid-column: 2/2;
  font-size: var(--default-font-size);
  color: #a0a0a0;
}

.input-type {
  -webkit-appearance: none;
  border: none;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
}

select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
  padding-right: 2rem;
  background-color: var(--background-color);
  padding: 10px;
  border: none;
  grid-column: 3/4;
  grid-row: 3/5;
  width: 75%;
}

.toggle-button {
  --before-color: var(--primary-color);
  --after-color: #afafaf;
  width: 50%;
  background-color: #fff;
  grid-row: 8/8;
  grid-column: 2/2;
  display: grid;
  grid-template-columns: 0.15fr 0.3fr 0.15fr;
}

.toggle-button::before {
  content: "No";
  width: 10px;
  grid-column: 1/1;
  padding-top: 2px;
  color: #a0a0a0;
}

.toggle-button::after {
  display: none;
  content: "Yes";
  justify-self: left;
  grid-column: 3/3;
  padding-top: 2px;
  color: var(--after-color);
}

.toggle-button input[type="checkbox"] {
  display: none;
}

.request-sort-toggle-button input[type="checkbox"] {
  display: none;
}

.request-sort-toggle-button {
  --before-color: var(--primary-color);
  --after-color: #afafaf;
  width: 50%;
  background-color: #fff;
  grid-row: 11/11;
  grid-column: 2/2;
  display: grid;
  grid-template-columns: 0.15fr 0.3fr 0.15fr;
}

.request-sort-toggle-button::before {
  content: "Yes";
  width: 10px;
  grid-column: 1/1;
  padding-top: 2px;
  color: #a0a0a0;
}

.request-sort-toggle-button::after {
  display: none;
  content: "No";
  justify-self: left;
  grid-column: 3/3;
  padding-top: 2px;
  color: var(--after-color);
}

.red-button {
  background-color: #d2d2d2;
  width: 56px;
  height: 28px;
  border-radius: 56px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.blue-button {
  background-color: #d2d2d2;
  width: 56px;
  height: 28px;
  border-radius: 56px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.red-button::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 56px;
  margin: 1.1px;
  transition: 0.2s;
}

.blue-button::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 56px;
  margin: 1.1px;
  transition: 0.2s;
}

input:checked+.red-button {
  background-color: #f9395b;
}

input:checked+.blue-button {
  background-color: #001765;
}

input:checked+.red-button::before {
  transform: translateX(28px);
}

input:checked+.blue-button::before {
  transform: translateX(28px);
}

.single-day-date-picker {
  font-weight: 300;
  font-size: var(--default-font-size);
  grid-row: 13/13;
  grid-column: 2/4;
  margin-top: 12px;
}

.single-day-date-picker>p {
  font-size: var(--default-font-size);
  color: #a0a0a0;
  font-weight: 300;
}

input[type="date"],
input[type="time"] {
  -webkit-appearance: none;
  border: none;
  font-family: inherit;
  font-size: var(--default-font-size);
  font-weight: 300;
  text-transform: uppercase;
  color: #acacac;
  padding: 10px;
  text-decoration: underline;
}

.desired-time-frame-selector {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content: center;
  width: 60%;
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 3%;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}

.expanded {
  width: 100%;
  transition: 0.2s;
}

.desired-time-frame-selector h4 {
  color: #989898;
  text-align: center;
}

.desired-time-frame-selector h4:nth-of-type(-n + 6) {
  color: #001765 !important;
}

.day {
  justify-self: center;
}

.checkbox-button input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  background-color: #eaf5fe;
  grid-column: 3/4;
  grid-row: 1;
}

.checkbox-button input[type="checkbox"]+span {
  color: #d0d0d0;
  font-weight: 500;
  font-size: 14px;
  background-color: #ffffff;
  border: 2px solid #d0d0d0;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */

  transition: 0.2s;
}

.checkbox-button input[type="checkbox"]+span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  align-self: center;
}

.checkbox-button input[type="checkbox"]:checked+span:before {
  content: "\2713";
  font-size: 14px;
  color: #fff;
  background-color: #3d84f6;
  text-align: center;
  opacity: 0;
}

.checkbox-button input[type="checkbox"]:checked+span {
  border-color: var(--primary-color);
  color: var(--primary-color);
  transition: 0.2s;
}

.otherCategory {
  display: none;
  margin-top: 25px;
  width: 20%;
  font-family: inherit;
  color: var(--primary-color);
}

::placeholder {
  color: #c5c5c5;
  font-weight: 300;
}

.editor {
  border: 1px solid #dbdbdb;
  background-color: var( --background-color);
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
  user-select: none;
  color: #a0a0a0;
  font-weight: 300;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--accent-color);
  color: #fff;
  font-family: inherit;
  font-size: var(--default-font-size);
  font-weight: 500;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 25px;
  width: 25%;
  border: none;
  position: relative;
  left: 75%;
}

input[type="submit"]:hover {
  background-color: #0479cc;
}

.submit-button {
  grid-column: 2/4;
  grid-row: 15/15;
}

.request-description {
  grid-column: 2/4;
  grid-row: 14/14;
}

#show-more-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--accent-color);
  font-family: inherit;
  font-size: var(--default-font-size);
  font-weight: 500;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  width: 150px;
  position: relative;
  margin: auto;
}

.show-more-button:hover {
  color: #044e83;
  transition: 0.2s;
}

.responsive-desired-timeframe-selector {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {

  .red-button,
  .blue-button {
    margin-left: 25px;
    margin-right: 25px;
  }

  main form {
    display: block;
    margin: 10%;
  }

  input[type="submit"] {
    left: 0;
    width: 100%;
  }

  .desired-time-frame-selector {
    display: none;
  }

  .responsive-desired-timeframe-selector {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 10%;
    display: block;
  }

  .checkbox-button input[type="checkbox"] {
    display: block;
    opacity: 0;
    cursor: pointer;
    background-color: #eaf5fe;
  }

  .checkbox-button input[type="checkbox"]+span {
    color: #d0d0d0;
    display: block;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    transition: 0.2s;
    text-align: center;
  }

  .checkbox-button input[type="checkbox"]+span:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
  }

  .checkbox-button input[type="checkbox"]:checked+span:before {
    content: "\2713";
    display: block;
    font-size: 14px;
    color: #fff;
    background-color: #3d84f6;
    text-align: center;
    opacity: 0;
  }

  .checkbox-button input[type="checkbox"]:checked+span {
    border-color: var(--primary-color);
    display: block;
    color: var(--primary-color);
    transition: 0.2s;
  }

  .separator {
    border-top: 1px solid #d0d0d0;
    margin: 30px 0;
  }
}

/* iPad and other devices */
@media only screen and (min-width: 1px) and (max-width: 1350px) {

  .red-button,
  .blue-button {
    margin-left: 25px;
    margin-right: 25px;
  }

  main form {
    display: block;
    margin: 10%;
  }

  input[type="submit"] {
    left: 0;
    width: 100%;
  }

  .desired-time-frame-selector {
    display: none;
  }

  .input-type-label-desired-timeframe>p {
    font-size: var(--default-font-size);
    color: #a0a0a0;
    font-weight: 400;
  }

  .responsive-desired-timeframe-selector {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 10%;
    display: block;
  }

  .checkbox-button input[type="checkbox"] {
    display: block;
    opacity: 0;
    cursor: pointer;
    background-color: #eaf5fe;
  }

  .checkbox-button input[type="checkbox"]+span {
    color: #d0d0d0;
    display: block;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    transition: 0.2s;
    text-align: center;
  }

  .checkbox-button input[type="checkbox"]+span:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
  }

  .checkbox-button input[type="checkbox"]:checked+span:before {
    content: "\2713";
    display: block;
    font-size: 14px;
    color: #fff;
    background-color: #3d84f6;
    text-align: center;
    opacity: 0;
  }

  .checkbox-button input[type="checkbox"]:checked+span {
    border-color: var(--primary-color);
    display: block;
    color: var(--primary-color);
    transition: 0.2s;
  }

  .separator {
    border-top: 1px solid #d0d0d0;
    margin: 30px 0;
  }
}

@media screen and (max-width: 959px) {
  /* Your CSS styles for screens smaller than 960px */
}